<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="sidebar">
    <div class="sidebar-header">
        <img src="images/icone.jpeg" alt="Logo" class="sidebar-logo">
    </div>
    
    <nav class="sidebar-menu">
        <ul class="menu-items">
            <li class="menu-item">
                <a href="/" class="menu-link">
                    <i class="fa-solid fa-house menu-icon"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-leaf menu-icon"></i>
                    <span class="menu-text">Materiais</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-sheet-plastic menu-icon"></i>
                    <span class="menu-text">Fichas Técnicas</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="lista-receita" class="menu-link">
                    <i class="fa-solid fa-cake-candles menu-icon"></i>
                    <span class="menu-text">Receitas</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-money-bill-wave menu-icon"></i>
                    <span class="menu-text">Financeiro</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="exibe-estoque" class="menu-link">
                    <i class="fa-solid fa-warehouse menu-icon"></i>
                    <span class="menu-text">Estoque</span>
                </a>
            </li>
        </ul>

    </nav>

    <div class="sidebar-user">
        <img src="images/user.jpeg" alt="Logo" class="sidebar-logo">
        <p>Unsername Injectable</p>
    </div>

</div>