<div class="content">
    <h2>Itens em Estoque</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Valor Unitario</th>
          <th>Data de Validade</th>
          <th>Fornecedor</th>
        </tr>
      </thead>
      <tbody>
        @for (item of dados; track item.id_item) {
          <tr>
            <td>{{ item.id_item }}</td>
            <td>{{ item.nome_item }}</td>
            <td>{{ item.quantidade }} {{ item.unidade_medida }}</td>
            <td>{{ item.valor_unitario }}</td>
            <td>{{ item.data_validade  | date:'dd/MM/yyyy'}}</td>
            <td>{{ item.fornecedor }}</td>
          </tr>
        }
      </tbody>
    </table>
</div>